body {
  font-family: Muller;
  background: #E5E5E5;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

header {
  margin-top: 30px
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container__left {
  display: flex;
  align-items: center;
}

.phone-number {
  margin-left: 35px;
  font-weight: 500;
  font-size: 20px;
  color: #666666;
}

.personal-area {
  font-size: 16px;
  color: #CC9933;
}

nav {
  margin-top: 30px;
  padding: 27px 45px;
  background: white;
  border-radius: 15px;
}

.navigation {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-link {
  font-size: 16px;
  color: #CC9933;
  border-radius: 10px;
  border: 1px solid #CC9933;
  padding: 10px;
}

.offers {
  margin-top: 70px;
}

.offers__header {
  margin-left: 40px;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.offers__body {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 23px;
}

.offers__body li:nth-child(2) {
  grid-row: 1 / span 2;
  grid-column: 2;
}

.offers-element {
  position: relative;
}

.offers-content {
  color: white;
  position: absolute;
  top: 40px;
  left: 40px;
}

.offers-header {
  margin: 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  width: 300px;
}

.offers-header_second {
  margin-top: 150px;
  font-size: 60px;
  line-height: 60px;
}

.offers-text {
  margin-top: 15px;
  font-size: 20px;
  line-height: 20px;
  opacity: 0.8;
}

.offers-content__text-second {
  font-size: 30px;
  line-height: 30px;
}

.offers-link {
  position: absolute;
  bottom: 40px;
  left: 40px;
  display: flex;
}

.offers-link a {
  color: #FFCC66;
  margin-right: 5px;
}

.about-us {
  margin-top: 70px;
}

.about-us__header {
  margin-left: 40px;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.about-us__body {
  margin-top: 10px;
  line-height: 32px;
  width: 80%;
}


.services {
  margin-top: 70px;
}

.services__header {
  margin-left: 40px;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.services__body {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 23px;
}

.services-element {
  border-radius: 15px;
  background: white;
}

.services-content {
  padding: 25px 45px 50px;
}

.services-content * {
  margin: 0;
}

.services-content-container-header {
  display: flex;
  align-items: center;
}

.services-content-header {
  margin-right: 5px;
  color: #CC9933;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
}

.services-content__text {
  margin-top: 5px;
  font-size: 16px;
  line-height: 200%;
}


.advantages {
  margin-top: 70px;
}

.advantages__header {
  margin-left: 40px;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.advantages__body {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 23px;
}

.advantages-element {
  padding: 40px;
  background: white;
  border-radius: 15px;
}

.advantages-element__text {
  line-height: 200%;
}

.placement {
  margin-top: 70px;
}

.placement__header {
  margin-left: 40px;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.placement__body {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 23px;
}

.placement__element {
  background: white;
  border-radius: 15px;
}

.placement__content {
  padding: 40px;
}

.placement__content > *{
  margin-top: 16px;
  margin-bottom: 0;
}

.placement-content__price-per-night {
  margin: 0;
}

.placement-content__price {
  font-weight: bold;
  font-size: 20px;
}

.placement-content__header {
  font-weight: normal;
}

.placement-content__text {
  color: #999999;
}

.placement-content__link {
  margin-top: 106px;
  color: #CC9933;
  border-radius: 10px;
  border: 1px solid #CC9933;
  padding: 10px;
}

.placement-content__wrapper {
  display: flex;
  justify-content: space-between;
}

.placement-last-element {
  position: absolute;
}

.placement-last-element__wrapper {
  display: flex;
  position: relative;
  bottom: 60px;
  left: 54px;
}

.placement-last-element__link {
  color: white;
  margin-right: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
}

