.tooltip {
    width: 375px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 14px;
    line-height: 170%;
    color: #333333;
    padding: 20px 78px 20px 29px;
}

.marker {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../img/show.svg");
    position: relative;
}

.marker:hover,
.marker:focus {
    background: url("../img/hide.svg");
}

.popup {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    width: 163px;
    position: absolute;
    bottom: 0;
    padding: 7px 15px;
    background: #666666;
    transform: translate(-50%, -80%);
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: 3px;
    border-width: 5px;
    border-style: solid;
    border-color: #666666 transparent transparent transparent;
}

.marker:hover > .popup,
.marker:focus > .popup {
    opacity: 1;
}